<div class="mb-2 border-bottom">
    </br>
</div>
<div class="f6 lh-condensed {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <blockquote id="gr_quote_body">
    </blockquote>
</div>
<p class="f5 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    Randomly chosen favorite quotes from <a href="https://www.goodreads.com/quotes/list/13481789"
        class="link">Goodreads</a>.
</p>
<script src="https://www.goodreads.com/quotes/widget/13481789-mahi-shafiullah?v=2" type="text/javascript"></script>