<h2 class="{% if site.style=='dark' %}text-white{% endif %} f1-light">My Research</h2>
<p class="f3-light mb-3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">My recent research
    projects,
    both at NYU and beyond.
</p>
<script type="text/javascript">
    function toggle_visibility(id) {
        var idName = "toggle-abstract-" + id;
        var e = document.getElementById(idName);
        e.hidden = !e.hidden;

        var heroName = "video-" + id;
        var hero = document.getElementById(heroName);
        var video = hero.getElementsByTagName("video")[0];
        var videoSource = hero.getElementsByTagName("source")[0];
        if (hero.classList.contains("col-lg-4")) {
            hero.classList.remove("col-lg-4");
            hero.classList.add("col-lg-12");
            videoSource.src = videoSource.src.replace(".webm", "_large.mp4");
        } else {
            hero.classList.remove("col-lg-12");
            hero.classList.add("col-lg-4");
            videoSource.src = videoSource.src.replace("_large.mp4", ".webm");
        }
        video.load();
        video.play();

        var textName = "text-block-" + id;
        var text = document.getElementById(textName);
        if (text.classList.contains("col-lg-8")) {
            text.classList.remove("col-lg-8");
            text.classList.add("col-lg-12");
        } else {
            text.classList.remove("col-lg-12");
            text.classList.add("col-lg-8");
        }
    }

    function toggle_visibility_by_name(id) {
        var e = document.getElementById(id);
        e.hidden = !e.hidden;
    }
</script>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    {% for research in site.categories.research limit: 12 %}
    <!--     {{ forloop.index }} -->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
        {% include research-card.html %}
    </div>
    {% endfor %}
</div>