--- 
--- 
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {

  h1,
  h2,
  h3,
  h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul,
  ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul,
  li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

mark {
  color: white;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right,
      rgba(255, 225, 0, 0.2),
      rgba(255, 225, 0, 0.5) 14%,
      rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: -0.15em 0.15em 0.25em rgba(255, 225, 0, 0.1);
  // , .5em -.25em 0.6em rgba(255, 255, 255,1), 0.5em -.25em 1.5em rgba(255, 255, 255,1);
}


.green {
  color: white;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right,
      rgba(130, 255, 173, 0.2),
      rgba(130, 255, 173, 0.5) 14%,
      rgba(130, 255, 173, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: -0.15em 0.15em 0.25em rgba(130, 255, 173, 0.1);
  // , .5em -.25em 0.6em rgba(255, 255, 255,1), 0.5em -.25em 1.5em rgba(255, 255, 255,1);
}

.min-height-full {
  min-height: 100vh;
}

a {
  color: #54aeff;
}

h1 {
  a {
    color: #0366d6;
  }
}

.topic-pill {
  background-color: #0366d6;
  border: 1px solid #c8e1ff;
  border-radius: 9999px;
  color: #f1f8ff;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 8px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}

// pill-colors:
// supervised-policy-learning: #FFBF00
// home-robots: #C3B93D
// open-vocab-robots: #87B37A

.topic-pill-supervised-policy-learning {
  background-color: #CE8147;
  border-color: #CE8147;
}

.topic-pill-semantic-scene-representation {
  background-color: #A5BE00;
  border-color: #A5BE00;
}

.topic-pill-generalization-home-robotics {
  background-color: #87B37A;
  border-color: #87B37A;
}

.topic-pill-visual-representation-learning {
  background-color: #B8336A;
  border-color: #B8336A;
}

.topic-pill-large-pretrained-models {
  background-color: #FFBF00;
  border-color: #FFBF00;
  color: #2F363D;
}